 .form-floating label {
    transition: all 0.2s ease-in-out;
  }
  
  .form-floating select:focus + label,
  .form-floating select:not(:placeholder-shown) + label {
    transform: translateY(-0.9rem);
    font-size: 0.70rem; 
    color: #495057; 
  }