 .form-floating label {
    transition: all 0.2s ease-in-out;
  }
  
  .form-floating select:focus + label,
  .form-floating select:not(:placeholder-shown) + label {
    transform: translateY(-0.9rem); /* Mueve el label hacia arriba */
    font-size: 0.70rem; /* Ajusta el tamaño del texto del label */
    color: #495057; /* Color del label */
  }